<div class="auth-main" style="background: linear-gradient(to right, #74ebd5, #acb6e5); height: 100vh;">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card my-3 shadow-lg" style="border-radius: 15px; width: 700px; padding: 20px;">
            <div class="card-body">
                <a href="#" class="d-flex justify-content-center mb-4">
                    <img src="assets/images/logo.png" style="max-width: 350px;" />
                </a>
                
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <div class="auth-header">
                            <h3 class="text-secondary mt-3" style="font-family: 'Poppins', sans-serif;"><b>Sign Up</b></h3>
                        </div>
                    </div>
                </div>
                <br>
            
                <form>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                <div class="form-floating mb-3">
                    <input formControlName="username" class="form-control" id="username" placeholder="Username"/>
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="email" class="form-control" id="email" placeholder="Email"/>
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" style="border-radius: 0;" />
                    <label for="password">Password</label>
                </div>
                <div class="d-grid mt-4">
                    <button (click)="signUp()" type="button" class="btn btn-secondary p-2">Sign Up</button>
                </div>
            </form>
            </form>
                <br>
                <h5 class="d-flex justify-content-center">
                    <a href="/login" >Already have an account?</a>
                </h5>
            </div>
        </div>
    </div>
</div>
